[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
    url = https://github.com/arora-aman/hugo-theme-codex.git
    branch = master
[submodule "public"]
	path = public
	url = git@github.com:arora-aman/arora-aman.github.io.git
    branch = master
